<div class="game-container">
  <!-- Bouton multiplicateur en haut à droite -->
  <div class="buy-multiplier-button" (click)="toggleQtmulti()">
    {{ qtmulti }}
  </div>

  <!-- Menu latéral -->
  <div class="side-menu">
    <div class="arc-bg"></div>
    <div class="doctor-icon">
      <img class="doctor-image" [src]="'http://localhost:3000/icones/' + world?.logo" alt="Doctor"/>
    </div>
    <div class="menu-items">
      <div class="menu-item unlocks" (click)="toggleUnlocks()">
        <img src="assets/Unlocks.png" alt="Unlock" class="menu-icon-unlock" />
        <span>UNLOCKS</span>
      </div>
      <div class="menu-item upgrades">
        <img src="assets/upgrade.png" alt="Upgrades" class="menu-icon" />
        <span>UPGRADES</span>
      </div>
      <!-- Ajout de l'événement pour ouvrir l'interface Managers -->
      <div class="menu-item managers" (click)="toggleManagers()">
        <img src="assets/Manager.png" alt="Managers" class="menu-icon" />
        <span>MANAGERS</span>
      </div>
      <div class="menu-item investors">
        <img src="assets/Investors.png" alt="Investors" class="menu-icon" />
        <span>INVESTORS</span>
      </div>
    </div>
  </div>

  <!-- Zone principale -->
  <div class="main-area">
    <div class="world-stats" *ngIf="world">
      <p>{{ world.name }}</p>
      <p>Money: {{ world.money | number:'1.0-2' }}</p>
    </div>

    <div class="products-grid" *ngIf="world">
      <app-product
        *ngFor="let product of world.products"
        [product]="product"
        [qtmulti]="qtmulti"
        [money]="world.money"
        (notifyProduction)="onProductionDone($event)"
        (notifyWorldUpdate)="onWorldUpdate($event)"
        (notifyBuy)="onBuy($event)"
      ></app-product>
    </div>

    <!-- Interface UNLOCKS -->
    <app-unlocks
      *ngIf="showUnlocks && world"
      [products]="world.products"
      [allunlocks]="world.allunlocks"
      (productClicked)="onUnlockProductClicked($event)"
      (allunlockClicked)="onAllunlockClicked()"
      (close)="onUnlocksClose()"
    ></app-unlocks>
  </div>
</div>

<!-- Interface Managers : affichée lorsque showManagers = true -->
<app-managers
  *ngIf="showManagers && world"
  [title]="'MANAGERS'"
  [managers]="world.managers"
  [worldMoney]="world.money"
  [products]="world.products"
  (hireManager)="onHireManager($event)"
  (close)="toggleManagers()"
></app-managers>

<!-- Interface détail Unlocks -->
<app-unlock-details
  *ngIf="showProductDetail"
  [title]="detailTitle"
  [paliers]="selectedProductPaliers"
  (close)="onCloseDetails()"
>
</app-unlock-details>
