/* Container global qui occupe tout l'écran */
.game-container {
  width: 100vw;
  height: 100vh;
  display: flex; /* Aligne le menu latéral et la zone principale */
  font-family: 'Luckiest Guy', cursive;
  background: transparent;
  position: relative;
}

/* Icône du médecin */
.doctor-icon {
  position: absolute;
  top: 20px;
  left: 40%;
  transform: translateX(-50%);
  z-index: 15;
}

.doctor-image {
  width: 110px;
  height: auto;
}

/* Le conteneur global du menu latéral */
.side-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  font-family: 'Luckiest Guy', cursive;
}

/* La couche d'arrière-plan courbée */
.arc-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: rgba(5, 22, 43, 0.8);
  clip-path: ellipse(80% 90% at 1% 50%);
}

/* Conteneur des items du menu */
.menu-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-right: 40px;
}

/* Chaque item du menu */
.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05162B;
  color: white;
  border-radius: 8px;
  margin: 20px 0;
  padding: 0.7rem 0.8rem 0.6rem 0.5rem;
  transform-origin: left center;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  text-align: center;
}

/* Positionnement de l'icône dans le menu */
.menu-icon {
  position: absolute;
  top: -12px;
  left: -5px;
  width: 30px;
  height: 30px;
  margin: 0;
}
.menu-icon-unlock {
  position: absolute;
  top: -25px;
  left: -10px;
  width: 50px;
  height: 50px;
  margin: 0;
}

/* Espacement entre l'icône et le texte */
.menu-item span {
  margin-left: 10px;
}

/* Survol */
.menu-item:hover {
  background-color: #0A2A4A;
  transform: scale(1.05);
}

/* Inclinaison des items */
.unlocks,
.upgrades,
.managers,
.investors {
  transform: rotate(-10deg);
}

/* Zone principale */
.main-area {
  flex: 1;
  margin-left: 280px;
  padding: 1rem;
  overflow-y: auto;
  color: #fff;
}

/* Stats du monde */
.world-stats {
  margin-bottom: 1rem;
}




