.unlock-details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245,245,245,0.2); /* Overlay sombre */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Laisser un peu de place pour le header */
  z-index: 9999;
}

.unlock-details-header {
  background-color: #071C39;
  width: 70%;
  height: 60px;
  margin-top: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* Au lieu de height fixe, on réduit simplement le padding */
  padding: 0.3rem 0.5rem;
  /* Marge négative pour qu'il se chevauche sur l'élément suivant */
  margin-bottom: -1.5rem;
  z-index: 10; /* Pour qu'il soit au-dessus */
  position: relative;
  color: #fff;
  font-family: 'Luckiest Guy', cursive;
}

.unlock-icon-container {
  position: absolute;
  top: -30px; /* Ajuster selon la taille de l'icône */
  left: 10px; /* Ajuster */
}
.unlock-icon {
  width: 70px; /* Ajuster la taille */
  height: auto;
}

.unlock-detail-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Luckiest Guy', cursive;
}

.details-close {
  position: absolute;
  right: -15px;        /* Ajustez la position horizontale */
  top: -10px;          /* Ajustez la position verticale */
  cursor: pointer;
  z-index: 9999;
}
.details-close img {
  width: 40px;
  height: 40px;
}
.unlock-details-message {
  width: 80%;
  margin-top: 1rem;
  background-color: rgba(97, 63, 63, 0.8); /* Couleur avec transparence */
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Luckiest Guy', cursive;
  margin-bottom: -1.5rem;
  z-index: 10; /* Pour qu'il soit au-dessus */
  position: relative;
}

.unlock-details-content {
  width: 90%;
  margin-top: 1rem;
  background-color: rgba(7, 28, 57, 0.7);
  border-radius: 10px;
  padding: 2rem;
  justify-content: center;
  height: 100px;
}

.unlock-details-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
  gap: 1rem;
  justify-content: center;
  padding: 20px;

}

.unlock-card {
  position: relative;
  width: 140px;
  height: 180px;
  cursor: pointer;
  margin-right: 20px;
}

.unlock-pink {
  background-color: #E37098;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  border: 3px solid #071C39;
  color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  gap: 3px;
}

/* Styles si le palier n'est pas encore atteint */
.unlock-pink.locked {
  opacity: 0.7;
  border-color: #071C39;
}

.unlock-pink.unlocked {
  opacity: 1;
  border-color: #E37098;
}

.status-icon {
  position: absolute;
  left: -15px; /* Ajustez pour que la moitié soit en dehors */
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.status-icon img {
  width: 100%;
  height: auto;
}

.unlock-product-icon {
  position: absolute;  /* Permet de sortir de .unlock-pink */
  top: -30px;          /* Déplace l'icône de 30px vers le haut */
  left: 50%;           /* Centre horizontalement */
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.unlock-seuil {
  margin: 30px;
  font-family: 'Luckiest Guy', cursive;
  font-weight: initial;
}




